*.tfstate
*.tfstate.backup
**/.terraform
*/__pycache__/*
*.log
*.DS_Store
lock.json
data/
data/jameoliver*
.ipynb_checkpoints/*
**/.ipynb_checkpoints
*.out
*.lock
*.info
.vscode
.pytest_cache
projectrecipe/__pycache__